@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Фильм";
}
@using KinoSystem.Models;
@model Film
<div class="p-4 m-4">
    @if (Model is null)
    {
        <p class="text-white fs-2">Фильм не найден</p>
    }
    else
    {
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-4">
                <img src="@Model.UrlPoster" height="700" width="400" />
            </div>
            <div class="col-md-8 col-8">
                <h2 class="text-white mb-3 movie-title">@Model.Title</h2>
                <dl class="row" >
                    @if (Model.MovieLength == 0)
                    {
                        <dt class="col-4 col-md-4 text-white mb-2">
                            Тип
                        </dt>
                        <dd class="col-8 col-md-8 text-white mb-2">
                            ТВ сериал
                        </dd>

                    }
                    else{
                        <dt class="col-4 col-md-4 text-white mb-2">
                            Тип
                        </dt>
                        <dd class="col-8 col-md-8 text-white mb-2">
                            Фильм
                        </dd>
                    }
                    <dt class="col-4 col-md-4 text-white mb-2">
                        Рейтинг
                    </dt>
                    <dd class="col-8 col-md-8 text-white mb-2">
                        @Model.Rating
                    </dd>
                    <dt class="col-4 col-md-4 text-white mb-2">
                        Возрастное ограничение
                    </dt>
                    <dd class="col-8 col-md-8 text-white mb-2">
                        @Model.AgeRating+
                    </dd>
                    <dt class="col-4 col-md-4 text-white mb-2">
                        Жанр
                    </dt>
                    <dd class="col-8 col-md-8 text-white mb-2">
                        @Model.Genres
                    </dd>
                    <dt class="col-4 col-md-4 text-white mb-2">
                        Год выпуска
                    </dt>
                    <dd class="col-8 col-md-8 text-white mb-2">
                        @Model.ReleaseYear
                    </dd>
                    @if (Model.MovieLength != 0)
                    {
                        <dt class="col-4 col-md-4 text-white mb-2">
                            Продолжительность
                        </dt>
                        <dd class="col-8 col-md-8 text-white mb-2">
                            @Model.MovieLength минут
                        </dd>

                    }
                    <dt class="col-4 col-md-4 text-white mb-2">
                        Описание
                    </dt>
                    <dd class="col-8 col-md-8 text-white mb-2">
                        @if (Model.Description != "None"){
                            @Model.Description
						}
						else{
							<span>отсутствует</span>
						}
                    </dd>
                </dl>
            </div>

        </div>
        @if (Model.InRental == true){
            <div class="d-flex flex-column">
                <a class="btn btn-primary text-light bg-dark align-self-center mt-4" href="../schedule/view">Купить билет</a>
            </div>
            }
    </div>
    }
</div>